.parent{
    width: 500px;
    height: 400px;
    background-color: chartreuse;
    border: solid 1px;
}

.enfant{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: orange;
    border: solid 1px;
}