img{
    margin: 100px;
}


.loutre1:hover{
    transform: scale(2)
}

.loutre1:active{
    transform: rotate(180deg);
    /* 180deg ou 0.5turn */
}

.loutre2:hover{
    transform: skewX(40deg);
}

.loutre2:active{
    transform: translateX(200px);
}

.paragraphe1{
    transform: scale(50%) translateX(20px) rotate(35deg) skewY(10deg);
}